.header_bar {
    background: #24292e !important;
    margin-bottom: 0 !important;
}

.header_bar_item {
    color: white !important;
}
.header_bar_item > * {
    color: white !important;
}

.header_bar_item.active {
    background: rgb(37, 50, 61) !important;
}

.header_bar_search {
    color: white !important;
}
.header_bar_search > input {
    color: white !important;
}

.active_notifications {
    background: #52cece !important;
}
.active_notifications .text { line-height: 1.4285em }

.no_notifications {
    background: #e0e0e0 !important;
}
.no_notifications .text { line-height: 1.4285em }


.section_name {
    font-size: 18pt;
    color: #24292e;
}

.section_navigation {
    border-left: 2px solid #24292e !important;
    margin-left: 1.5em !important;
    border-radius: 0 !important;
}

.header_bar__user {
    background: rgb(37, 50, 61) !important;
}

.new_user_bt {
    background: #2185d0 !important;
    color     : white !important;
    float     : right !important;
}